<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Fridge Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Smart Fridge Demo</h1>
    </header>

    <div class="main-content">
        <form id="upload-form" enctype="multipart/form-data">
            <label for="file" class="upload-label">Choose a Photo:</label>
            <div class="upload-btn-wrapper">
                <button type="button" class="btn" onclick="document.getElementById('file').click()">Upload a
                    Photo</button>
                <input type="file" name="file" accept=".png, .jpg, .jpeg, .gif" id="file" style="display: none"
                    onchange="previewImage()" required>
            </div>
            <br>
            <img id="uploaded-img" src="#" alt="Uploaded Image">
            <br>
            <button type="button" class="process-btn" onclick="processImage()">Process Image</button>
        </form>

        <div id="result-section">
            <!-- Display results here -->
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>